
<aside class="app-sidebar" id="sidebar" ng-class="{active: mainCtrl.openSideBar}">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">List</span>App</a>
    <button type="button" class="sidebar-toggle" ng-click="mainCtrl.openSideBar = !mainCtrl.openSideBar">
       <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li ng-class="titleNavbar=='Listas'?'active':''">
        <a ui-sref="lists" ng-click="mainCtrl.openSideBar = !mainCtrl.openSideBar">
          <div class="icon">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="title">Listas</div>
        </a>
      </li>
      <li ng-class="titleNavbar=='Canciones'?'active':''">
        <a ui-sref="songs" ng-click="mainCtrl.openSideBar = !mainCtrl.openSideBar">
          <div class="icon">
            <i class="fa fa-music" aria-hidden="true"></i>
          </div>
          <div class="title">Canciones</div>
        </a>
      </li>
      <li ng-class="titleNavbar=='Grupos'?'active':''">
        <a ui-sref="groups" ng-click="mainCtrl.openSideBar = !mainCtrl.openSideBar">
          <div class="icon">
            <i class="fa fa-group" aria-hidden="true"></i>
          </div>
          <div class="title">Grupos</div>
        </a>
      </li>
      <li ng-class="titleNavbar=='Mensajes'?'active':''">
        <a ui-sref="messages" ng-click="mainCtrl.openSideBar = !mainCtrl.openSideBar">
          <div class="icon">
            <i class="fa fa-comments" aria-hidden="true"></i>
          </div>
          <div class="title">Mensajes</div>
        </a>
      </li>
      <li ng-class="titleNavbar=='Perfil'?'active':''">
        <a ui-sref="profile" ng-click="mainCtrl.openSideBar = !mainCtrl.openSideBar">
          <div class="icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="title">Perfil</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul class="menu">
      <li>
        <a href="/" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </a>
      </li>
      <li><a href="#"><span class="flag-icon flag-icon-th flag-icon-squared"></span></a></li>
    </ul>
  </div>
</aside>
